<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209093459165-uathp10039t73utiejprr7ng3d5hf0c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209093459165-uathp10039t73utiejprr7ng3d5hf0c9</string>
	<key>API_KEY</key>
	<string>AIzaSyBCF12PlUHKXmZ7SeoWgDaOsmi-eEegNO0</string>
	<key>GCM_SENDER_ID</key>
	<string>209093459165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gurjeet.ChatsApp</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-f39d7</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-f39d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:209093459165:ios:f15094a255579a62ee2f34</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchats-f39d7.firebaseio.com</string>
</dict>
</plist>
